html {
    background-color: black;
    color: aliceblue;
    font-family: 'Source Code Pro', monospace;
}

#outer {
    position: absolute;
    width: 100vw;
    height: 225px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -112.5px 0 0 -50vw;
    text-align: center;
    transition: 0.1s;
}


